* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("/assets/images/bg-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 800px) {
  body {
    background-color: rgb(144, 167, 187);
    background-image: none;
  }
}
.container {
  display: flex;
  flex-direction: row;
  /* /* height: 45vh; */
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: center;
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .container {
    flex-wrap: wrap;
  }
}
.item {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  /* margin: 60px; */
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
}
@media (max-width: 800px) {
  .item {
    background-color: white;
  }
}
.h1vision {
  text-align: center;
}
.pvision {
  text-align: justify;
}
.h1mission {
  text-align: center;
}
.pmission {
  text-align: justify;
}
.h1values {
  text-align: center;
}
.listvalues {
  list-style-type: none;
}
.zoom {
  transition: transform 0.2s;
  /* margin: 0 auto; */
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
}

.zoom:hover {
  transform: scale(1.25);
}
.interventions {
  text-align: center;
  font-size: 56px;
  color: black;
}
.detailedlist {
  margin: 20px;
  height: 49vh;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
.detailedlist ul li {
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
  text-align: left;
  font-size: 2vw;
}
